<h1>マイページ</h1>

<h2>ユーザー名 さん</h2>

　　<div class="box1">購入履歴一覧</div>
　　<div class="box2">お気に入り一覧</div>
　　<div class="box3">ユーザー編集</div>
　　<div class="box4">
	 <%= link_to "  退会", users_delete_path %>
   </div>
