<h1>マイページ</h1>
<h3>
 <% if user_signed_in? %>
 <%= current_user.first_name %>
 <% end %>
さん</h3>

　　<div class="box1">購入履歴一覧</div>
　　<div class="box2">お気に入り一覧</div>
　　<div class="box3">ユーザー編集</div>
　　<div class="box4">
     <%= link_to "退会", delete_user_path(current_user.id) %>
   </div>
