<h1>問い合わせ一覧</h1>
 <% @contacts.each do |contact| %>
    <p>タイトル</p>
    <span><%= contact_text%></span>
    <%= button_to "詳細", user_path(current_user.id), method: :get, class: 'btn btn-default' %>
 <% end %>
