<h1 class="contact">お問い合わせフォーム</h1>

<%= form_for(@contact) do |f| %>

<ul>
    <li class="contact_title">
		<label for="contact_title">タイトル</label>
		<%= f.text_field :contact_title %>
	</li>

	<li class="contact_text">
		<label for="contact_text">内容</label>
		<%= f.text_area :contact_text %>
	</li>

		   <%= f.submit '送信' %>
</ul>


<% end %>