<!DOCTYPE html>
<html>
<head>
	<meta chaset="UTF-8" />
	<link rel="stylesheet" href="style.css">
	<title> NEWSED</title>
</head>
<body>
	<div class="header"></div>

	<div class="main-visual">
<h2>NEWSED(トップ画面)</h2>
    </div>
    <div class="main"></div>
    <div class="footer"></div>
</body>
</html>

