	<div class="header"></div>

	<div class="main-visual">
<h2>NEWSED(トップ画面)</h2>
    </div>
    <div class="main">
    	<h2>NEWSED(NEW+USED)とは・・・
    		<p>新品の音楽ディスクと中古のディスクの販売をしています。<br>
                品質を求める方には新品を、安さを求める方には中古を安い価格で。
                それぞれのニーズに合わせた商品を取り扱っています。<p>
    </div>
    <div class="main-low">
    	<%= link_to " 新品CD一覧", items_path %>
    	<%= link_to " 中古CD一覧", index_used_items_path %>
    <div class="footer"></div>
