	<div class="header"></div>

	<div class="main-visual">
<h2>NEWSED(トップ画面)</h2>
    </div>
    <div class="main">
    	<h2>NEWSEDとは・・・
    		<p>ここに説明が入ります。<p>
    </div>
    <div class="main-low">
    	<%= link_to " 新品CD一覧", items_path %>
    	<%= link_to " 中古CD一覧", index_used_items_path %>
    <div class="footer"></div>
