/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";

h1.neon-header {
  color: #fff;
 	text-align: left;
  font-size: 40px;
  margin-left: 30px;
  font-weight:bold;
  font-family: neoneon;
}

.box1 {
	width: 270px;
  height: 270px;
  background-color: pink;
  margin: 20px 40px 20px 140px;
}

.box2 {
	width: 270px;
  height: 270px;
  background-color: pink;
  margin: 20px 40px 20px 10px;
}

.box3 {
	width: 270px;
  height: 270px;
  background-color: pink;
  margin: 20px 40px 20px 170px;
}

.box4 {
	width: 270px;
  height: 270px;
  background-color: pink;
  margin: 20px 40px 20px 10px;
}

.box1, .box2, .box3, .box4 {
	display: inline-block;
	text-align: center;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: black;
}