// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.item-favorite {
  width: 300px;
  height:300px;
  float: left;
}

.paginate{
  text-align: center;
}

.top-text{
  width: 100%;
  background-color: white;
}

.user_information{
  text-align: center;
}

.box1 {
  width: 360px;
  height: 360px;
  background-color: #F0FFF0;
  margin-top: 100px;
}

.box2 {
  width: 360px;
  height: 360px;
  background-color: #F0FFF0;
  margin-top: 100px;
}

.box3 {
  width: 360px;
  height: 360px;
  background-color: #F0FFF0;
  margin-top: 100px;
}

.box4 {
  width: 360px;
  height: 360px;
  background-color: #F0FFF0;
  margin-top: 100px;
}

.box5 {
  width: 360px;
  height: 360px;
  background-color: #F0FFF0;
  margin: 100px 0px;
}

.box1, .box2, .box3, .box4, .box5 {
  display: inline-block;
}

.user-admin-index-paginate {
  font-size: 20px;
  margin-left: 650px;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

.search-user {
  margin-left: 500px;
  width: 15%;
}

.user-index-admin {
  margin-left: 100px;
  padding-bottom: 25px;
}

.user-list {
  margin-left: 300px;
}